{
  "enableYolo": true,
  "allowedCommands": [
    "mkdir",
    "cd",
    "sudo",
    "run",
    "pwd",
    "move",
    "start",
    "open",
    "dir",
    "rmdir",
    "git",
    "cat",
    "more",
    "Start-Process",
    "python3",
    "curl",
    "ls",
    "head",
    "tail",
    "pip",
    "python3",
    "npm",
    "cp",
    "move",
    "cmd.exe",
    "echo",
    "node",
    "export",
    "ts-node",
    "jest",
    "npx",
    "rmdir",
    "find",
    "cargo",
    "Process",
    "grep",
    "Process",
    "grep",
    "mdbook",
    "RUST_LOG",
    "netstat",
    "touch",
    "sed",
    "chmod",
    "kind",
    "exec",
    "wsl",
    "docker",
    "systemctl",
    "newgrp",
    "kubectl"
  ]
}